/****** Object:  StoredProcedure [dbo].[usp_GenerateLoadStoredProcedure_noPK]    Script Date: 10/17/2025 8:10:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER   PROC [dbo].[usp_GenerateLoadStoredProcedure_noPK] 
   @TableSchema [varchar](500),
   @TargetTableName [varchar](500)  
AS
BEGIN
    SET NOCOUNT ON;
	PRINT 'Hey, I am in NO_PK method'
    DECLARE @object_name sysname = QUOTENAME(@TableSchema) + '.[usp_Load_' + @TargetTableName + ']';

    IF OBJECT_ID(@object_name) IS NULL
    BEGIN
        DECLARE 
             @TargetName VARCHAR(1000) = QUOTENAME(@TableSchema) + '.' + QUOTENAME(@TargetTableName),
             @SourceName VARCHAR(1000) = QUOTENAME(@TableSchema) + '.' + QUOTENAME(@TargetTableName),
             @SQL VARCHAR(MAX),
             @CRLF CHAR(2) = CHAR(13) + CHAR(10),
			 @SEP CHAR(4)= CHAR(13) + CHAR(10) + ' ,',
             @DistributionType VARCHAR(1000) = 'REPLICATE',   -- dummy placeholder (since no distributions in Azure SQL)

             @SourceTable sysname = CONCAT('dbo.tempSrc_', @TableSchema, '_', @TargetTableName);

        ---------------- Table to hold hash columns ----------------
        IF OBJECT_ID('tempdb..#HashValue', 'U') IS NOT NULL DROP TABLE #HashValue;

        SELECT @TableSchema AS TableSchema,
               @TargetTableName AS TableName,
               'CONVERT(CHAR(40), HASHBYTES(''SHA1'',' + 
                   STUFF(STRING_AGG(CAST(ColName as varchar(8000)), ''), 1, 9, '') + 
                   '), 2)' AS HashValue
        INTO #HashValue
        FROM (
              SELECT TOP 8000 TEMP.[object_id],
                     ' + ''|'' + ' + 
                        'ISNULL(' + CASE
                            WHEN TY.[name] NOT IN ('varchar','char','nvarchar','nchar')
                                 THEN 'CAST(src.[' + TEMP.[name] + '] AS VARCHAR(40))'
                            ELSE 'src.[' + TEMP.[name] + ']'
                        END + ', ''NA'')' AS ColName
              FROM sys.[all_columns] AS TEMP
              JOIN sys.[types] TY 
                   ON TEMP.[system_type_id] = TY.[system_type_id]
                  AND TEMP.[user_type_id] = TY.[user_type_id]
              JOIN sys.[tables] T 
                   ON T.[object_id] = TEMP.[object_id]
              WHERE SCHEMA_NAME(T.schema_id) = @TableSchema
                AND T.name = @TargetTableName
                AND TEMP.[name] NOT LIKE '%HashValue%'
                AND TEMP.[name] NOT IN (
                        'ETLCreatedDate','ETLCreatedBatchID','ETLModifiedDate',
                        'ETLModifiedBatchID','ETLCurrentRow',
                        'ETLEffectiveFromDate','ETLEffectiveToDate','IsDeleted'
                )
              ORDER BY TEMP.column_id
        ) ColList;

        ---------------- Dynamic Fields ----------------
        IF OBJECT_ID('tempdb..#DynamicFields','U') IS NOT NULL DROP TABLE #DynamicFields;

        CREATE TABLE #DynamicFields(
             IsDataType BIT,
             TableSchema VARCHAR(100),
             TableName VARCHAR(500),
             ColumnName VARCHAR(500),
             ColumnNameTxt VARCHAR(500),
             JoinOn VARCHAR(1000),
             JoinOnTxt VARCHAR(1000),
             UpdateOn VARCHAR(1000),
             HashColumns VARCHAR(1000),
             InsertOn VARCHAR(1000),
             IsPK BIT DEFAULT 0,
             OrdinalPosition INT
        );

        INSERT INTO #DynamicFields (
             IsDataType,TableSchema,TableName,ColumnName,ColumnNameTxt,
             JoinOn,JoinOnTxt,UpdateOn,HashColumns,InsertOn,IsPK,OrdinalPosition
        )
        SELECT DISTINCT 
             CASE WHEN DATA_TYPE IN ('VARCHAR','CHAR','TEXT','NVARCHAR','NTEXT') THEN 1 ELSE 0 END,
             C.TABLE_SCHEMA, C.TABLE_NAME, C.COLUMN_NAME,
             'ISNULL(' + QUOTENAME(C.COLUMN_NAME) + ','''') AS ' + QUOTENAME(C.COLUMN_NAME),
             'tgt.' + QUOTENAME(C.COLUMN_NAME) + ' = src.' + QUOTENAME(C.COLUMN_NAME),
             'ISNULL(tgt.' + QUOTENAME(C.COLUMN_NAME) + ','''') = ISNULL(src.' + QUOTENAME(C.COLUMN_NAME) + ','''')',
             'tgt.' + QUOTENAME(C.COLUMN_NAME) + ' = src.' + QUOTENAME(C.COLUMN_NAME),
             'tgt.' + QUOTENAME(C.COLUMN_NAME) + ' <> src.' + QUOTENAME(C.COLUMN_NAME),
             'src.' + QUOTENAME(C.COLUMN_NAME),
             CASE WHEN pk.COLUMN_NAME IS NOT NULL THEN 1 ELSE 0 END,
             ORDINAL_POSITION
        FROM INFORMATION_SCHEMA.COLUMNS C
        LEFT JOIN (
              SELECT DISTINCT ku.TABLE_CATALOG,ku.TABLE_SCHEMA,ku.TABLE_NAME, ku.COLUMN_NAME
              FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS tc
              INNER JOIN INFORMATION_SCHEMA.KEY_COLUMN_USAGE ku
                   ON tc.CONSTRAINT_TYPE = 'PRIMARY KEY'
                  AND tc.CONSTRAINT_NAME = ku.CONSTRAINT_NAME
        ) pk
            ON c.TABLE_CATALOG = pk.TABLE_CATALOG
           AND c.TABLE_SCHEMA = pk.TABLE_SCHEMA
           AND c.TABLE_NAME = pk.TABLE_NAME
           AND c.COLUMN_NAME = pk.COLUMN_NAME
        WHERE c.TABLE_SCHEMA = @TableSchema
          AND c.TABLE_NAME = @TargetTableName
          AND c.COLUMN_NAME NOT LIKE '%ETL%'
          AND c.COLUMN_NAME NOT LIKE '%HashValue%'
          AND c.COLUMN_NAME NOT LIKE '%IsDeleted%';

        ---------------- Column Lists ----------------
        DECLARE @ColumnList VARCHAR(MAX) =
        (
            SELECT STRING_AGG(CAST(QUOTENAME(ColumnName) AS NVARCHAR(MAX)), @SEP)
            FROM #DynamicFields
        );

        DECLARE @MInsert VARCHAR(MAX) =
        (
            SELECT STRING_AGG(CAST(InsertOn AS NVARCHAR(MAX)), @SEP)
            FROM #DynamicFields
        );

        DECLARE @MHash VARCHAR(MAX) =
        (
            SELECT DISTINCT hk.[HashValue]
            FROM #DynamicFields a
            INNER JOIN #HashValue hk ON a.TableName = hk.TableName AND a.TableSchema = hk.TableSchema
            WHERE IsPK = 0
        );

        ---------------- Dynamic SQL ----------------
        SET @SQL =
        'CREATE OR ALTER PROCEDURE ' + @object_name + '
        @ETLBatchID INT
        AS
        BEGIN
            SET NOCOUNT ON;
            SET XACT_ABORT ON;

            DECLARE @RowsInserted INT = 0,
                    @RowsUpdated INT = 0,
                    @CurrentDateTime DATETIME = GETDATE();

            BEGIN TRY
                TRUNCATE TABLE ' + @TargetName + ';

                BEGIN TRANSACTION;

                INSERT ' + @TargetName + ' 
                (
                    ' + @ColumnList + ',
                    [IsDeleted],
                    [HashValue],
                    [ETLCreatedDate],
                    [ETLCreatedBatchID],
                    [ETLModifiedDate],
                    [ETLModifiedBatchID]
                )
                SELECT ' + @MInsert + ',
                       0 [IsDeleted],
                       0 [HashValue],
                       @CurrentDateTime,
                       @ETLBatchID,
                       @CurrentDateTime,
                       @ETLBatchID
                FROM Prestage.' + @TargetTableName + ' src;

                SET @RowsInserted = (SELECT COUNT(1) FROM ' + @TargetName + ');

                COMMIT TRANSACTION;

                /* Output */
                SELECT @RowsUpdated AS RowsUpdated, @RowsInserted AS RowsInserted;
            END TRY
            BEGIN CATCH
                ROLLBACK TRANSACTION;
                THROW;
            END CATCH
        END';

        EXEC (@SQL);
    END
END;
